.wrapper {
  width: 414px;
  margin: auto;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

nav li {
  border: 1px solid black;
  width: 20%;
  padding: 10px;
}

form {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
}

form input,
form textarea {
  width: 80%;
  margin: 5px;
  border: 1px solid black;
}
