.main-header, 
footer {
  background-color: lightblue;
  position:relative;
  text-align: center;
  padding: 5px;
}

.books-header {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

nav ul {
  display: none;
}

nav:hover ul {
  display: flex;
}

.icon-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
}

nav li {
  border: 1px solid black;
  text-align: center;
}

nav a {
  text-decoration: none;
}

.book-card {
  background-color: grey;
  text-align: center;
  padding: 1em 0;
}

.book-card * {
  padding: .2em;
}

.book-card > div {
  color: white;
  background-color: black;
  text-align: left;  
}

.book-card a {
  color: white;
}