.main-header, 
footer {
  background-color: lightblue;
  position:relative;
  text-align: center;
  padding: 5px;
}

.books-header {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.books-header img {
  padding-right: 10px;
}

nav ul {
  display: none;
}
/* removed :hover handling in js now */

nav ul {
  display: flex;
}

.icon-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
}

nav li {
  border: 1px solid black;
  text-align: center;
}

nav a {
  text-decoration: none;
}

.book-card {
  background-color: grey;
  text-align: center;
  padding: 1em 0;
}

.book-card * {
  padding: .2em;
}

.book-card > div {
  color: white;
  background-color: black;
  text-align: left;  
}

.book-card a {
  color: white;
}

.book-credits h2 {
  padding: .4em;
  margin: 0;
}

.book-credits p {
  padding: .6em;
  line-height: 1em;
}

.admin-view {
  display: none;
}

.icon-cross:before {
  color: red;
  font-size: 2em;
}

.icon-checkmark:before {
  color: green;
  font-size: 2em;
}

/* ABOUT US PAGE */
#about {
  text-align: center;
  background-color: grey;
}

#about h1 {
  margin: 0;
}

/* DEVELOPER CARDS */
.developer {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  background-color: black;
  color: white;
}

.developer a {
  color: white;
}

.developer img {
  width: 80%;
}

footer {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
}